#result_div{
   /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; ; */
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* background-color: rgb(160 100 218) */
}
#result_div:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out
    
}
*{
    font-family: monospace;
}
