#result_div,#popup{
  
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
#result_div:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out
    
}
*{
    font-family: monospace;
}
